{% extends 'accounts/base.html'%}

{% load staticfiles %}
{% block body %}

{% include "food_container/navbar.html" %}
<div class="limiter" style="margin-top:70px;">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({% static 'account/images/d.jpg' %});">
					<span class="login100-form-title-1">
						Sign In
					</span>
					<p class="text-center p-5" style="color:#ffff"> Already have an accounts? <a href="{% url 'register' %}" style="color:#ffff00">Sign Up</a></p>
				</div>

					<form class="login100-form"  method="POST">
						{% csrf_token %}
					<div class="wrap-input100 ">
						{{form.username}}
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						{{form.password}}
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<!--<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">-->
							<!--<label class="label-checkbox100" for="ckb1">-->
								<!--Remember me-->
							<!--</label>-->
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
		</div>
	</div>
</div>
{% include 'food_container/base.html'%}
	{% endblock %}